@model IEnumerable<Table>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/HeadOfDept/Views/Shared/_Layout.cshtml";
}


@section head {
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="~/lib/table/datatable/datatables.css">
    <link rel="stylesheet" type="text/css" href="~/lib/table/datatable/dt-global_style.css">
    <!-- END PAGE LEVEL STYLES -->
}

<div class="br-pagetitle">
    <i class="fas fa-chalkboard-teacher fa-6x text-info"></i>
    <div class="row">
        <div class="col-lg-10 col-10">
            <h3 class="text-info">قائمة المحاضرات</h3>
        </div>
@*         <div class="col-lg-2 col-7 mb-2">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                <i class="fas fa-plus-circle"></i> اضافة محاضرات
            </button>
        </div>
        <div class="col-lg-2 col-4">
            <a asp-action="Create" asp-controller="Table" class="btn btn-success">
                <i class="fas fa-user-plus"></i> اضافة محاضرة
            </a>
        </div> *@
    </div>
</div>

<div class="br-pagebody">
    <div class="br-section-wrapper">
        <div class="table-wrapper">
            <table id="deptsTable" class="table display responsive nowrap">
                <thead>
                    <tr>
                        <th>صورة</th>
                        <th>المدرب</th>
                        <th>اليوم</th>
                        <th>الوقت</th>
                        <th>المبنى</th>
                        <th>القاعة</th>
                        <th>التفاصيل</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @if (!string.IsNullOrEmpty(item.ApplicationUser.Image))
                                {
                                    <a class="image-receipt" href="~/images/@item.ApplicationUser.Image">
                                        <img src="~/images/@item.ApplicationUser.Image" alt="صورة شخصية" width="50" height="50" />
                                    </a>
                                }
                                else
                                {
                                    <span>لا توجد</span>
                                }
                            </td>
                            <td>@item.ApplicationUser.UserFullName</td>
                            <td>@item.Day</td>
                            <td>@item.Time</td>
                            <td>@item.Build.Building</td>
                            <td>@item.Build.Hall</td>
                            <td>
                                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#ModalUser_@item.Id">
                                    عرض
                                </button>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<input type="hidden" id="created" data-value="@ViewBag.created" />
<input type="hidden" id="updated" data-value="@ViewBag.updated" />
<input type="hidden" id="deleted" data-value="@ViewBag.deleted" />

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">اضافة جدول عن طريق ملف EXCEL</h5>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning text-center" role="alert">
                    يرجى الالتزام بترتيب الأعمدة في ملف Excel كما هو مذكور في النموذج الفارغ.
                </div>
                <div class="form-layout form-layout-4">
                    <form method="get" asp-action="DownloadExcel" asp-controller="Table" enctype="multipart/form-data">
                        <div class="row mg-t-20">
                            <label class="col-sm-4 form-control-label">تحميل ملف اكسيل فارغ: <span class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-download"></i> تحميل
                                </button>
                            </div>
                        </div>
                    </form>
                    <hr />
                    <form id="addTableForm" method="post" asp-action="Add" asp-controller="Table" enctype="multipart/form-data">
                        <div class="row mb-3">
                            <label class="col-sm-4 form-control-label">اسم جدول: <span class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <select id="tableSelect" name="AcId" class="form-control" required>
                                    <option value="">اختر جدول...</option>
                                    @foreach (var user in ViewBag.Actvations)
                                    {
                                        <option value="@user.Id">@user.Name</option>
                                    }
                                </select>
                            </div>
                        </div><!-- row -->

                        <div class="row mg-t-20">
                            <label class="col-sm-4 form-control-label">اختر ملف: <span class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <input type="file" name="excelFile" accept=".xlsx" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-layout-footer mg-t-30 text-center">
                            <button type="button" class="btn btn-success" onclick="submitForm()">
                                <i class="fa fa-upload"></i> اضافة المحاضرات
                            </button>
                        </div>
                    </form>
                </div><!-- form-layout -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
            </div>
        </div>
    </div>
</div>



@if (Model.Count() > 0)
{
    foreach (var item in Model)
    {
        <div class="modal fade" id="ModalUser_@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"> تفاصيل المحاضرة :</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row mb-2">
                            <div class="col">
                                <span>ساعات الاتصال :</span> <span class="text-info">  @item.ContactHours</span>
                            </div>
                            <div class="col">
                                <span>ساعات المحاسبة :</span> <span class="text-info">   @item.AccountingHours</span>
                            </div>
                        </div>
                        <hr />
                        <div class="row mb-2">
                            <div class="col">
                                <span>اليوم :</span> <span class="text-info">   @item.Day</span>
                            </div>
                            <div class="col">
                                <span>الوقت :</span> <span class="text-info">  @item.Time</span>
                            </div>
                        </div>
                        <hr />
                        <div class="row mb-2">
                            <div class="col">
                                <span>سعة :</span> <span class="text-info">   @item.Capacity</span>
                            </div>
                            <div class="col">
                                <span>مسجلين :</span> <span class="text-info">   @item.Registered</span>
                            </div>
                        </div>
                        <hr />
                        <div class="row mb-1">
                            <div class="col">
                                <span>متبقي :</span> <span class="text-info">  @item.Stay</span>
                            </div>
                            <div class="col">
                                <span>نوع الشعبة :</span> <span class="text-info">   @item.TypeDivition</span>
                            </div>
                        </div>
                        <hr />
                        <div class="row mb-1">
                            <div class="col">
                                <span>القسم :</span> <span class="text-info">  @item.Department.Name</span>
                            </div>
                            <div class="col">
                                <span>المقرر :</span> <span class="text-info">   @item.Course.Name</span>
                            </div>
                        </div>
                        <hr />
                        <div class="row mb-1">
                            <div class="col">
                                <span>اسم المدرب :</span> <span class="text-info">  @item.ApplicationUser.UserFullName</span>
                            </div>
                            <div class="col">
                                <span>القاعة :</span> <span class="text-info">   @item.Build.Hall</span>
                            </div>
                        </div>
                        <hr />
                        <div class="row mb-1">
                            <div class="col">
                                <span>اسم الجدول :</span> <span class="text-info">  @item.Activation.Name</span>
                            </div>
                        </div>
                        <hr />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
                    </div>
                </div>
            </div>
        </div>
    }
}

@section scripts {
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/lib/table/datatable/datatables.js"></script>
    <script>
        $('#deptsTable').DataTable({
            "oLanguage": {
                "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                "sInfo": "عدد النتائج   _TOTAL_",
                "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                "sSearchPlaceholder": "بحث...",
                "sLengthMenu": "النتائج :  _MENU_ ",
            },
            "order": [[1, "desc"]],
            "stripeClasses": [],
            "lengthMenu": [7, 10, 20, 50],
            "pageLength": 20,
            drawCallback: function () { $('.dataTables_paginate > .pagination').addClass(' pagination-style-13 pagination-bordered mb-5'); }
        });
    </script>
    <link href="~/lib/toaster/toaster.css" rel="stylesheet" />
    <script src="~/lib/toaster/toaster.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var created = $("#created").data("value");
            if (created == "True") {
                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": true,
                    "positionClass": "toast-top-left",
                    "preventDuplicates": true,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "12000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                toastr.success("تمت الاضافة بنجاح");
            }

            var updated = $("#updated").data("value");
            if (updated == "True") {
                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": true,
                    "positionClass": "toast-top-left",
                    "preventDuplicates": true,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "12000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                toastr.success("تم تعديل المحاضرة بنجاح");
            }

            var deleted = $("#deleted").data("value");
            if (deleted == "True") {
                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": true,
                    "positionClass": "toast-top-left",
                    "preventDuplicates": true,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "12000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                toastr.success("تم حذف المحاضرة بنجاح");
            }
        });
    </script>
    <!-- END PAGE LEVEL SCRIPTS -->

    <script>
        function submitForm() {
            var tableSelect = document.getElementById('tableSelect');
            var selectedValue = tableSelect.value;

            if (selectedValue === '') {
                alert('يرجى اختيار جدول قبل الإرسال.');
                return;
            }

            var form = document.getElementById('addTableForm');
            form.submit();
        }
    </script>
}

