@using FollowUp.ViewModels
@model EditAdminVM

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="br-pagetitle">
    <h3 class="text-info mr-3">تعديل بيانات المدير </h3>
</div><!-- d-flex -->

<style>
    .form-check {
        margin-bottom: 10px;
    }

    .form-check-input {
        margin-right: 10px;
    }

    .form-check-label {
        font-size: 16px;
    }

    .te {
        text-align: right;
        padding-right: 30px;
    }
</style>

<div class="br-pagebody">
    <div class="br-section-wrapper">
        <div class="row">
            <div class="col-xl-12">
                <div class="form-layout form-layout-4">
                    <form id="myForm" method="post" asp-action="Edit" asp-controller="Statistics" enctype="multipart/form-data">
                        <div class="row mb-3">
                            <label class="col-sm-4 form-control-label">اسم المدير: <span class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <input asp-for="FullName" type="text" class="form-control" placeholder="اسم المدير" required>
                                <span class="text-danger" asp-validation-for="FullName"></span>
                            </div>
                        </div>
                        <!-- row -->
                        @if(Model.UserName == "Admin")
                        {
                            <div class="row mb-3">
                                <label class="col-sm-4 form-control-label">كلمة مرور التطبيقات: <span class="tx-danger">*</span></label>
                                <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                    <input asp-for="pass" type="text" class="form-control" placeholder="كلمة مرور التطبيقات" required>
                                    <span class="text-danger" asp-validation-for="pass"></span>
                                </div>
                            </div>
                            <!-- row -->
                        }
                        <div class="row mb-3">
                            <label class="col-sm-4 form-control-label">اسم المستخدم: <span class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <input asp-for="UserName" type="text" class="form-control" placeholder="اسم المستخدم" required>
                                <span class="text-danger" asp-validation-for="UserName"></span>
                            </div>
                        </div><!-- row -->
                        <div class="row mb-3">
                            <label class="col-sm-4 form-control-label">البريد الالكتروني : <span class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <input asp-for="Email" type="email" class="form-control" placeholder="البريد الالكتروني" required>
                                <span class="text-danger" asp-validation-for="Email"></span>
                            </div>
                        </div><!-- row -->
                        <div class="row mb-3">
                            <label class="col-sm-4 form-control-label"> رقم الجوال : <span class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <input asp-for="PhoneNumber" type="number" class="form-control" placeholder="رقم الجوال" required>
                                <span class="text-danger" asp-validation-for="PhoneNumber"></span>
                            </div>
                        </div><!-- row -->
                        <div class="row mb-3">
                            <label class="col-sm-4 form-control-label"> كلمة المرور: <span class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <input asp-for="NewPassword" type="password" class="form-control" placeholder="كلمة المرور">
                                <span class="text-danger" asp-validation-for="NewPassword"></span>
                            </div>
                        </div><!-- row -->

                        <div class="row mb-3">
                            <label class="col-sm-4 form-control-label">اسم القسم</label>
                            <select class="col-sm-7 form-control" required asp-for="DepartmentId">
                                <option value="">اختر القسم...</option>
                                @foreach (var user in ViewBag.Department)
                                {
                                    <option value="@user.Id">@user.Name</option>
                                }
                            </select>
                        </div><!-- row -->

                        <div class="row mb-3">
                            <label class="col-sm-4 form-control-label">الصلاحيات :</label>
                            <div class="col-sm-7">
                                @foreach (var role in ViewBag.Roles)
                                {
                                    <div class="form-check">
                                        <input class="form-check-input"
                                               type="checkbox"
                                               id="role_@role.Value"
                                               name="SelectedRoles"
                                               value="@role.Value"
                                        @(Model.SelectedRoles.Contains(role.Value) ? "checked" : "")>
                                        <label class="form-check-label te" for="role_@role.Value">
                                            @role.Text
                                        </label>
                                    </div>
                                }
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-4 form-control-label">الصورة الشخصية: <span class="tx-danger"></span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <input asp-for="Image" type="file" class="form-control-image" accept="image/*">
                                <span class="text-danger" asp-validation-for="Image"></span>
                            </div>
                        </div><!-- row -->

                        <input type="hidden" asp-for="Id" />

                        <div class="form-layout-footer mg-t-30 text-center">
                            <input type="submit" value="حفظ التعديلات" class="btn btn-info">
                            <a asp-action="Index" class="btn btn-secondary">الرجوع</a>
                        </div><!-- form-layout-footer -->
                    </form>
                </div><!-- form-layout -->
            </div>
        </div><!-- row -->
    </div><!-- br-section-wrapper -->
</div><!-- br-pagebody -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var form = document.getElementById('myForm');

            form.addEventListener('submit', function (event) {
                var selectedRoles = document.querySelectorAll('input[name="SelectedRoles"]:checked');

                if (selectedRoles.length === 0) {
                    alert("يجب اختيار صلاحية واحدة على الأقل.");
                    event.preventDefault();
                }
            });
        });
    </script>
}