@model FollowUp.ViewModels.SuperAdminHomeVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/HeadOfDept/Views/Shared/_Layout.cshtml";
}

<div class="br-pagetitle">
    <i class="icon fas fa-light fa-house"></i>
    <div>
        <h4>الرئيسية</h4>
        <p class="mg-b-0">نظام تقرير المتابعة</p>
    </div>
</div><!-- d-flex -->
<div class="br-pagebody">
    <div class="row row-sm">


        <div class="col-sm-4 col-xl-4 mb-3">
            <a asp-action="Index" asp-controller="Trainer">
                <div class="bg-primary rounded overflow-hidden">
                    <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                        <i class="fas fa-user-tie tx-60 lh-0 tx-white op-7"></i>
                        <div class="mg-r-20">
                            <p class="tx-20 tx-spacing-1 tx-mont tx-bold tx-uppercase tx-white-8 mg-b-10">قائمة المدربين</p>
                            <p class="tx-24 tx-white tx-lato tx-bold mg-b-0 lh-1">@ViewBag.Trainers</p>
                        </div>
                    </div>
                    <div id="ch2" class="ht-50 tr-y-1"></div>
                </div>
            </a>
        </div><!-- col-3 -->

        <div class="col-sm-4 col-xl-4 mb-3">
            <a asp-action="Index" asp-controller="Supervisor">
                <div class="bg-success rounded overflow-hidden">
                    <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                        <i class="fas fa-user-check tx-60 lh-0 tx-white op-7"></i>
                        <div class="mg-r-20">
                            <p class="tx-20 tx-spacing-1 tx-mont tx-bold tx-uppercase tx-white-8 mg-b-10">قائمة المشرفين</p>
                            <p class="tx-24 tx-white tx-lato tx-bold mg-b-0 lh-1">@ViewBag.Supervisors</p>
                        </div>
                    </div>
                    <div id="ch2" class="ht-50 tr-y-1"></div>
                </div>
            </a>
        </div><!-- col-3 -->

        @* <div class="col-sm-4 col-xl-4 mb-3">
            <a asp-action="Index" asp-controller="Course">
                <div class="bg-info rounded overflow-hidden">
                    <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                        <i class="fas fa-book-open tx-60 lh-0 tx-white op-7"></i>
                        <div class="mg-r-20">
                            <p class="tx-20 tx-spacing-1 tx-mont tx-bold tx-uppercase tx-white-8 mg-b-10">قائمة المقررات</p>
                            <p class="tx-24 tx-white tx-lato tx-bold mg-b-0 lh-1">@ViewBag.Course</p>
                        </div>
                    </div>
                    <div id="ch2" class="ht-50 tr-y-1"></div>
                </div>
            </a>
        </div><!-- col-3 --> *@

        @* <div class="col-sm-4 col-xl-4 mb-3">
            <a asp-action="Index" asp-controller="Activation">
                <div class="bg-warning rounded overflow-hidden">
                    <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                        <i class="fas fa-calendar-check tx-60 lh-0 tx-white op-7"></i>
                        <div class="mg-r-20">
                            <p class="tx-20 tx-spacing-1 tx-mont tx-bold tx-uppercase tx-white-8 mg-b-10">قائمة الجداول</p>
                            <p class="tx-24 tx-white tx-lato tx-bold mg-b-0 lh-1">@ViewBag.Activation</p>
                        </div>
                    </div>
                    <div id="ch2" class="ht-50 tr-y-1"></div>
                </div>
            </a>
        </div><!-- col-3 --> *@

        <div class="col-sm-4 col-xl-4 mb-3">
            <a asp-action="Index" asp-controller="Table">
                <div class="bg-danger rounded overflow-hidden">
                    <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                        <i class="fas fa-chalkboard-teacher tx-60 lh-0 tx-white op-7"></i>
                        <div class="mg-r-20">
                            <p class="tx-20 tx-spacing-1 tx-mont tx-bold tx-uppercase tx-white-8 mg-b-10">قائمة المحاضرات</p>
                            <p class="tx-24 tx-white tx-lato tx-bold mg-b-0 lh-1">@ViewBag.Tables</p>
                        </div>
                    </div>
                    <div id="ch2" class="ht-50 tr-y-1"></div>
                </div>
            </a>
        </div><!-- col-3 -->

        <div class="col-sm-4 col-xl-4 mb-3">
            <a asp-action="Index" asp-controller="Report">
                <div class="bg-success rounded overflow-hidden">
                    <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                        <i class="fas fa-file-alt tx-60 lh-0 tx-white op-7"></i>
                        <div class="mg-r-20">
                            <p class="tx-20 tx-spacing-1 tx-mont tx-bold tx-uppercase tx-white-8 mg-b-10">قائمة التقارير</p>
                            <p class="tx-24 tx-white tx-lato tx-bold mg-b-0 lh-1">@ViewBag.Report</p>
                        </div>
                    </div>
                    <div id="ch2" class="ht-50 tr-y-1"></div>
                </div>
            </a>
        </div><!-- col-3 -->

        <div class="col-sm-4 col-xl-4 mb-3">
            <a asp-action="Index" asp-controller="Permission">
                <div class="bg-primary rounded overflow-hidden">
                    <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                        <i class="fas fa-file-signature tx-60 lh-0 tx-white op-7"></i>
                        <div class="mg-r-20">
                            <p class="tx-20 tx-spacing-1 tx-mont tx-bold tx-uppercase tx-white-8 mg-b-10">نماذج الاستئذان</p>
                            <p class="tx-24 tx-white tx-lato tx-bold mg-b-0 lh-1">@ViewBag.Permissions</p>
                        </div>
                    </div>
                    <div id="ch2" class="ht-50 tr-y-1"></div>
                </div>
            </a>
        </div><!-- col-3 -->

        @* <div class="col-sm-4 col-xl-4 mb-3">
            <a asp-action="Index" asp-controller="Build">
                <div class="bg-info rounded overflow-hidden">
                    <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                        <i class="fas fa-building tx-60 lh-0 tx-white op-7"></i>
                        <div class="mg-r-20">
                            <p class="tx-20 tx-spacing-1 tx-mont tx-bold tx-uppercase tx-white-8 mg-b-10">قائمة القاعات</p>
                            <p class="tx-24 tx-white tx-lato tx-bold mg-b-0 lh-1">@ViewBag.Building</p>
                        </div>
                    </div>
                    <div id="ch2" class="ht-50 tr-y-1"></div>
                </div>
            </a>
        </div><!-- col-3 -->

        <div class="col-sm-4 col-xl-4 mb-3">
            <a asp-action="Index" asp-controller="Department">
                <div class="bg-warning rounded overflow-hidden">
                    <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                        <i class="fas fa-sitemap tx-60 lh-0 tx-white op-7"></i>
                        <div class="mg-r-20">
                            <p class="tx-20 tx-spacing-1 tx-mont tx-bold tx-uppercase tx-white-8 mg-b-10">قائمة الأقسام</p>
                            <p class="tx-24 tx-white tx-lato tx-bold mg-b-0 lh-1">@ViewBag.Departments</p>
                        </div>
                    </div>
                    <div id="ch2" class="ht-50 tr-y-1"></div>
                </div>
            </a>
        </div><!-- col-3 --> *@

        
    </div><!-- row -->
</div><!-- br-pagebody -->