@using FollowUp.Models
@model Permission
@using System.Globalization

@{
    ViewData["Title"] = " نموذج استئذان";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <title>نموذج الاستئذان</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #fff;
            margin: 0;
            padding: 20px;
            color: #000;
            direction: rtl;
            text-align: right;
        }

        .container {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            max-width: 800px;
            margin: auto;
            border: 1px solid #000;
        }

        .header {
            text-align: center;
            margin-bottom: 20px;
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            background-color: #fff;
            color: #000;
            padding: 10px;
            border-radius: 8px;
        }

            .header img {
                width: 100px;
                height: auto;
            }

            .header .header-text-right {
                width: 40%;
                text-align: center;
                direction: ltr;
            }

            .header .header-text-left {
                width: 40%;
                text-align: center;
            }
        .content p {
            margin: 15px 0;
        }

        .signature {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }

        .footer {
            margin-top: 40px;
        }

        hr {
            border: none;
            border-top: 1px solid #000;
            margin: 20px 0;
        }

        .right{
            text-align: right;
        }

        .signature {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
        }

        .signature-row {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }

            .signature-row p {
                margin: 0 10px;
                flex: 1;
                text-align: right;
            }
    </style>
</head>
<body>
    <div id="printArea" class="container">
        <div class="header">
            <div class="header-text-left">
                <h2>المملكة العربية السعودية</h2>
                <h3>المؤسسة العامة للتدريب التقني والمهني</h3>
                <h4>الكلية التقنية للاتصالات والمعلومات بجدة</h4>
                <h5>إدارة الرقابة</h5>
            </div>
            <img src="~/img/config/شعار.jpg" alt="Logo">
            <div class="header-text-right">
                <h3>KINGDOM OF SAUDI ARABIA</h3>
                <h5>Technical and Vocational Training Corporation</h5>
                <h6>Technical College of Telecommunications & Info – Jeddah</h6>
            </div>
        </div>
        <hr />
        <hr />
        <div class="header">
            <h2 >نموذج استئذان موظف خلال فترة الدوام الرسمي</h2>
        </div>
        
        <div class="content">
            <p>سعادة مدير <span>@Model.ApplicationUser.Department.Name</span> المحترم</p>
            <p>السلام عليكم ورحمة الله وبركاته ، وبعد :</p>
            <p>
                أتقدم لسعادتكم بطلبي هذا طالباً الاستئذان عن الدوام لليوم
                <span>@Model.Date.ToString("dddd", new CultureInfo("ar-AE"))</span> التاريخ <span>@Model.Date.ToString("yyyy-MM-dd")</span>
                في الفترة من الساعة <span>@FormatTimeOnly(Model.fromdate)</span>
                وحتى الساعة <span>@FormatTimeOnly(Model.to)</span> خلال وقت الدوام الرسمي.
            </p>
            <p>
                السبب: <span><h6 class="right">@Model.Value</h6></span>
            </p>
            <p>مقدمه الموظف: حسين عبده الشاعري</p>
            <p>يتم تعبئة النموذج من قبل الموظف</p>
        </div>
        <div class="signature">
            <div class="signature-row">
                <p>اسم المدرب: <strong>@Model.ApplicationUser.UserFullName</strong></p>

                <p>رقم الحاسب: <strong>@Model.ApplicationUser.UserName</strong></p>
            </div>
        </div>
        <hr />

        <div class="content">
            <p>سعادة مدير إدارة الرقابة المحترم</p>
            <p>السلام عليكم ورحمة الله وبركاته ، وبعد :</p>
            <p>لا مانع من استئذان الموظف عن الدوام كما هو موضح أعلاه خلال وقت الدوام الرسمي.</p>
            <p>عدم الموافقة على طلب الاستئذان.</p>
            <p>الرئيس المباشر</p>
            <p>مدير مركز تقنية المعلومات</p>
            <p>يتم تعبئة النموذج من قبل رئيس القسم</p>
            <p>م. عبدالله أحمد السهيمي</p>
        </div>

        <hr />

        <div class="content">
            <p>سعادة مدير الشؤون الإدارية المحترم</p>
            <p>السلام عليكم ورحمة الله وبركاته ، وبعد :</p>
            <p>لا مانع من استئذان الموظف عن الدوام كما هو موضح أعلاه خلال وقت الدوام الرسمي.</p>
            <p>حفظ في ملف الموظف.</p>
            <p>مدير إدارة الرقابة</p>
            <p>أ. مشعل مرزوق العتيبي</p>
        </div>

        <hr />

        <div class="footer">
            <h3>ضوابط الاستئذان</h3>
            <ul>
                <li>يجب أن يعتمد الإذن من الرئيس المباشر ولا يصبح نافذاً إلا بعد اعتماده من قبل مدير الرقابة.</li>
                <li>أن يكون تعبئة نموذج الاستئذان في نفس اليوم أو قبله ولا ينظر لنماذج الاستئذان بعد الخروج من العمل.</li>
                <li>يعتبر نموذج الاستئذان هو الطريقة المعتمدة الوحيدة للخروج أثناء الدوام الرسمي.</li>
                <li>لا يجوز أن يكون الاستئذان في بداية الدوام ونهايته في يوم واحد.</li>
                <li>أن يثبت الموظف حضوره بعد انتهاء فترة الإذن في جهاز البصمة أو ورقة الدوام وكذلك قبل خروجه.</li>
                <li>يجب اعتماد النموذج الجديد لاستئذان الموظف أثناء الدوام الرسمي الموجود على نظام الكلية أو في الشؤون الإدارية.</li>
            </ul>
        </div>
    </div>

    <div class="row d-flex justify-content-center mt-4 no-print">
        <button class="btn btn-primary" id="btnPrint" onclick="printPage()">طباعة</button>
    </div>

    <script>
        function printPage() {
            var printContent = document.getElementById('printArea').innerHTML;
            var originalContent = document.body.innerHTML;

            var printStyles = `
                                                                body {
                            font-family: Arial, sans-serif;
                            background-color: #fff;
                            margin: 0;
                            padding: 20px;
                            color: #000;
                            direction: rtl;
                            text-align: right;
                        }

                        .container {
                            background-color: #fff;
                            padding: 20px;
                            border-radius: 8px;
                            max-width: 800px;
                            margin: auto;
                            border: 1px solid #000;
                        }

                        .header {
                            text-align: center;
                            margin-bottom: 20px;
                        }

                        .header {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-bottom: 20px;
                            background-color: #fff;
                            color: #000;
                            padding: 10px;
                            border-radius: 8px;
                        }

                            .header img {
                                width: 100px;
                                height: auto;
                            }

                            .header .header-text-right {
                                width: 40%;
                                text-align: center;
                                direction: ltr;
                            }

                            .header .header-text-left {
                                width: 40%;
                                text-align: center;
                            }
                        .content p {
                            margin: 15px 0;
                        }

                        .signature {
                            display: flex;
                            justify-content: space-between;
                            margin-top: 20px;
                        }

                        .footer {
                            margin-top: 40px;
                        }

                        hr {
                            border: none;
                            border-top: 1px solid #000;
                            margin: 20px 0;
                        }

                        .right{
                            text-align: right;
                        }

                        .signature {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            width: 100%;
                        }

                        .signature-row {
                            display: flex;
                            width: 100%;
                            justify-content: space-between;
                        }

                            .signature-row p {
                                margin: 0 10px;
                                flex: 1;
                                text-align: right;
                            }
                                            `;

            document.body.innerHTML = `<style>${printStyles}</style>` + printContent;
            window.print();
            document.body.innerHTML = originalContent;
            location.reload();
        }
    </script>

    @functions {
        public string FormatTimeOnly(TimeOnly time)
        {
            string period = time.Hour < 12 ? "صباحًا" : "مساءً";
            int hour = time.Hour % 12;
            hour = hour == 0 ? 12 : hour;
            return $"{hour}:{time.Minute:D2} {period}";
        }
    }
</body>
</html>

