@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/HeadOfDept/Views/Shared/_Layout.cshtml";
}


@section head {
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="~/lib/table/datatable/datatables.css">
    <link rel="stylesheet" type="text/css" href="~/lib/table/datatable/dt-global_style.css">
    <!-- END PAGE LEVEL STYLES -->
}

<div class="br-pagetitle">
    <i class="fas fa-user-check fa-6x text-info"></i>
    <div class="row">
        <div class="col-lg-10 col-10">
            <h3 class="text-info">قائمة المشرفين</h3>
        </div>
@*         <div class="col-lg-2 col-7 mb-2">
            <a asp-action="Create" asp-controller="Supervisor" class="btn btn-primary">
                <i class="fas fa-plus-circle"></i> اضافة مشرف
            </a>
        </div> *@
    </div>
</div>


<div class="br-pagebody">
    <div class="br-section-wrapper">
        <div class="table-wrapper">
            <table id="deptsTable" class="table display responsive nowrap">
                <thead>
                    <tr>
                        <th>صورة</th>
                        <th>اسم المشرف</th>
                        <th>اسم المستخدم</th>
                        <th>البريد الالكتروني</th>
                        <th>التفاصيل</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @if (!string.IsNullOrEmpty(item.Image))
                                {
                                    <a class="image-receipt" href="~/images/@item.Image">
                                        <img src="~/images/@item.Image" alt="صورة شخصية" width="50" height="50" />
                                    </a>
                                }
                                else
                                {
                                    <span>لا توجد</span>
                                }
                            </td>
                            <td>@item.UserFullName</td>
                            <td>@item.UserName</td>
                            <td>@item.Email</td>
                            <td>
                                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#ModalUser_@item.Id">
                                    عرض
                                </button>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<input type="hidden" id="created" data-value="@ViewBag.created" />
<input type="hidden" id="updated" data-value="@ViewBag.updated" />
<input type="hidden" id="deleted" data-value="@ViewBag.deleted" />

@if (Model.Count() > 0)
{
    foreach (var item in Model)
    {
        <div class="modal fade" id="ModalUser_@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"> تفاصيل المشرف : @item.UserFullName</h5>

                    </div>
                    <div class="modal-body">
                        <div class="row mb-2">
                            <div class="col">
                                <span>اسم المشرف :</span> <span class="text-info">  @item.UserFullName</span>
                            </div>
                            <div class="col">
                                <span>اسم المستخدم :</span> <span class="text-info">   @item.UserName</span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row mb-2">
                            <div class="col">
                                <span>البريد الالكتروني :</span> <span class="text-info">  @item.Email</span>
                            </div>
                            <div class="col">
                                <span>رقم الجوال:</span> <span class="text-info">   @item.PhoneNumber</span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row mb-2">
                            <div class="col">
                                <span>القسم :</span> <span class="text-info"> @item.Department.Name </span>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
                    </div>
                </div>
            </div>
        </div>

    }
}

@section scripts {
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/lib/table/datatable/datatables.js"></script>
    <script>
        $('#deptsTable').DataTable({
            "oLanguage": {
                "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                "sInfo": "عدد النتائج   _TOTAL_",
                "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                "sSearchPlaceholder": "بحث...",
                "sLengthMenu": "النتائج :  _MENU_ ",
            },
            "order": [[1, "desc"]],
            "stripeClasses": [],
            "lengthMenu": [7, 10, 20, 50],
            "pageLength": 20,
            drawCallback: function () { $('.dataTables_paginate > .pagination').addClass(' pagination-style-13 pagination-bordered mb-5'); }
        });
    </script>
    <link href="~/lib/toaster/toaster.css" rel="stylesheet" />
    <script src="~/lib/toaster/toaster.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var created = $("#created").data("value");
            if (created == "True") {
                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": true,
                    "positionClass": "toast-top-left",
                    "preventDuplicates": true,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "12000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                toastr.success("تمت الاضافة بنجاح");
            }

            var updated = $("#updated").data("value");
            if (updated == "True") {
                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": true,
                    "positionClass": "toast-top-left",
                    "preventDuplicates": true,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "12000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                toastr.success("تم تعديل بيانات المشرف بنجاح");
            }

            var deleted = $("#deleted").data("value");
            if (deleted == "True") {
                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": true,
                    "positionClass": "toast-top-left",
                    "preventDuplicates": true,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "12000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                toastr.success("تم حذف المشرف بنجاح");
            }
        });
    </script>
    <!-- END PAGE LEVEL SCRIPTS -->
}
