@model IEnumerable<Table>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Supervisor/Views/Shared/_Layout.cshtml";
}

@section head {
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="~/lib/table/datatable/datatables.css">
    <link rel="stylesheet" type="text/css" href="~/lib/table/datatable/dt-global_style.css">

}

<style>
    .filter-form {
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .filter-form select,
    .filter-form button {
        padding: 10px;
        font-size: 16px;
    }

    .filter-form button {
        background-color: #6C63FF;
        color: #FFFFFF;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }

    .filter-form button:hover {
        background-color: #3C3883;
    }
</style>


<div class="br-pagetitle">
    <i class="fas fa-users fa-6x text-info"></i>
    <div class="row">
        <div class="col-lg-10 col-10">
            <h3 class="text-info">الفترة الصباحية</h3>
        </div>
        <form method="get" class="filter-form">
            <label for="date-select">اختر يوم:</label>
            <select id="date-select" name="selectedDate">
                <option value="">-- اختر يوم --</option>
                @{
                    var days = new List<string> { "السبت", "الأحد", "الاثنين", "الثلاثاء", "الأربعاء", "الخميس", "الجمعة", "كل الايام" };
                    var selectedDate = ViewBag.SelectedDate as string ?? string.Empty;
                }
                @foreach (var day in days)
                {
                    <option value="@day" selected="@(selectedDate == day ? "selected" : "")">@day</option>
                }
            </select>
            <button type="submit">عرض</button>
        </form>
    </div>
</div>

<div class="br-pagebody">
    <div class="br-section-wrapper">
        <div class="table-wrapper">
            <table id="deptsTable" class="table display responsive nowrap">
                <thead>
                    <tr>
                        <th>صورة</th>
                        <th>اسم المدرب</th>
                        <th>اليوم</th>
                        <th>الوقت</th>
                        <th>المبنى</th>
                        <th>القاعة</th>
                        <th>التفاصيل</th>
                        <th>ارسال تقرير</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @if (!string.IsNullOrEmpty(item.ApplicationUser.Image))
                                {
                                    <a class="image-receipt" href="~/images/@item.ApplicationUser.Image">
                                        <img src="~/images/@item.ApplicationUser.Image" alt="صورة شخصية" width="50" height="50" />
                                    </a>
                                }
                                else
                                {
                                    <span>لا توجد</span>
                                }
                            </td>
                            <td>@item.ApplicationUser.UserFullName</td>
                            <td>@item.Day</td>
                            <td>@item.Time</td>
                            <td>@item.Build.Building</td>
                            <td>@item.Build.Hall</td>
                            <td>
                                <button type="button" class="btn btn-primary text-white" data-toggle="modal" data-target="#ModalUser_@item.Id">
                                    عرض
                                </button>
                            </td>
                            <td>
                                @{
                                    var daysInArabic = new Dictionary<DayOfWeek, string>
                                        {
                                        { DayOfWeek.Saturday, "السبت" },
                                        { DayOfWeek.Sunday, "الأحد" },
                                        { DayOfWeek.Monday, "الاثنين" },
                                        { DayOfWeek.Tuesday, "الثلاثاء" },
                                        { DayOfWeek.Wednesday, "الأربعاء" },
                                        { DayOfWeek.Thursday, "الخميس" },
                                        { DayOfWeek.Friday, "الجمعة" }
                                        };

                                    var todayInArabic = daysInArabic[DateTime.Today.DayOfWeek];

                                    var results = ViewBag.Results as List<Attendance>;
                                    if (results != null && results.Any(r => r.TableId == item.Id &&r.TrainerId == @item.ApplicationUser.Id))
                                    {
                                        <div class="text-success" >تم ارسال التقرير <i class="fas fa-check-circle"></i></div>
                                    }
                                    else if (todayInArabic != item.Day)
                                    {
                                        <div class="text-warning">غير متاح اليوم<i class="fas fa-check-circle"></i></div>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal_@item.Id">
                                            <span class="text-warning">ارسل تقرير <i class="fas fa-pen"></i></span>
                                        </button>
                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<input type="hidden" id="created" data-value="@ViewBag.created" />
<input type="hidden" id="updated" data-value="@ViewBag.updated" />

@foreach (var item in Model)
{
    <div class="modal fade" id="exampleModal_@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">تقرير الحضور</h5>
                </div>
                <div class="modal-body">
                    <form method="post" asp-action="Attendance" asp-controller="Table" enctype="multipart/form-data" onsubmit="return validateForm(@item.Id)">
                        <input type="hidden" name="id" value="@item.Id" />

                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label for="value_@item.Id">اختر الحالة:</label>
                                </div>
                                <div class="col-sm-8">
                                    <select id="value_@item.Id" name="value" class="form-control" onchange="toggleMinutesField(@item.Id)" required>
                                        <option value="">-- اختر الحالة --</option>
                                        <option value="غائب">غائب</option>
                                        <option value="مدرب بدون متدربين">مدرب بدون متدربين</option>
                                        <option value="متأخر">متأخر</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" id="minutesField_@item.Id" style="display: none;">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label for="minutes_@item.Id">عدد الدقائق:</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="number" min="1" id="minutes_@item.Id" name="minutes" class="form-control" placeholder="عدد الدقائق">
                                </div>
                            </div>
                        </div>

                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-success">
                                <i class="fa fa-upload"></i> ارسال
                            </button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
                </div>
            </div>
        </div>
    </div>
}

@if (Model.Count() > 0)
{
    foreach (var item in Model)
    {
        <div class="modal fade" id="ModalUser_@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"> تفاصيل المحاضرة :</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row mb-2">
                            <div class="col">
                                <span>ساعات الاتصال :</span> <span class="text-info">  @item.ContactHours</span>
                            </div>
                            <div class="col">
                                <span>ساعات المحاسبة :</span> <span class="text-info">   @item.AccountingHours</span>
                            </div>
                        </div>
                        <hr />
                        <div class="row mb-2">
                            <div class="col">
                                <span>اليوم :</span> <span class="text-info">   @item.Day</span>
                            </div>
                            <div class="col">
                                <span>الوقت :</span> <span class="text-info">  @item.Time</span>
                            </div>
                        </div>
                        <hr />
                        <div class="row mb-2">
                            <div class="col">
                                <span>سعة :</span> <span class="text-info">   @item.Capacity</span>
                            </div>
                            <div class="col">
                                <span>مسجلين :</span> <span class="text-info">   @item.Registered</span>
                            </div>
                        </div>
                        <hr />
                        <div class="row mb-1">
                            <div class="col">
                                <span>متبقي :</span> <span class="text-info">  @item.Stay</span>
                            </div>
                            <div class="col">
                                <span>نوع الشعبة :</span> <span class="text-info">   @item.TypeDivition</span>
                            </div>
                        </div>
                        <hr />
                        <div class="row mb-1">
                            <div class="col">
                                <span>القسم :</span> <span class="text-info">  @item.Department.Name</span>
                            </div>
                            <div class="col">
                                <span>المقرر :</span> <span class="text-info">   @item.Course.Name</span>
                            </div>
                        </div>
                        <hr />
                        <div class="row mb-1">
                            <div class="col">
                                <span>اسم المدرب :</span> <span class="text-info">  @item.ApplicationUser.UserFullName</span>
                            </div>
                            <div class="col">
                                <span>القاعة :</span> <span class="text-info">   @item.Build.Hall</span>
                            </div>
                        </div>
                        <hr />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary text-white" data-dismiss="modal">اغلاق</button>
                    </div>
                </div>
            </div>
        </div>
    }
}

@section scripts {
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/lib/table/datatable/datatables.js"></script>
    <script>
        $('#deptsTable').DataTable({
            "oLanguage": {
                "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                "sInfo": "عدد النتائج   _TOTAL_",
                "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                "sSearchPlaceholder": "بحث...",
                "sLengthMenu": "النتائج :  _MENU_ ",
            },
            "order": [[1, "desc"]],
            "stripeClasses": [],
            "lengthMenu": [7, 10, 20, 50, 100],
            "pageLength": 20,
            drawCallback: function () { $('.dataTables_paginate > .pagination').addClass(' pagination-style-13 pagination-bordered mb-5'); }
        });
    </script>
    <link href="~/lib/toaster/toaster.css" rel="stylesheet" />
    <script src="~/lib/toaster/toaster.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var created = $("#created").data("value");
            if (created == "True") {
                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": true,
                    "positionClass": "toast-top-left",
                    "preventDuplicates": true,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "12000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                toastr.success("تم تسجيل الغياب وارسال تقرير الي المدرب بنجاح");
            }

            var updated = $("#updated").data("value");
            if (updated == "True") {
                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": true,
                    "positionClass": "toast-top-left",
                    "preventDuplicates": true,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "12000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                toastr.success("تم تسجيل التأخير وارسال تقرير الي المدرب بنجاح");
            }
        });
    </script>

    <script>
        function toggleMinutesField(id) {
            var valueSelect = document.getElementById("value_" + id);
            var minutesField = document.getElementById("minutesField_" + id);

            if (valueSelect.value === "متأخر") {
                minutesField.style.display = "block";
            } else {
                minutesField.style.display = "none";
            }
        }

        function validateForm(id) {
            var valueSelect = document.getElementById("value_" + id);
            var minutesField = document.getElementById("minutesField_" + id);
            var minutesInput = document.getElementById("minutes_" + id);

            if (valueSelect.value === "متأخر" && minutesInput.value === "") {
                alert("يرجى إدخال عدد الدقائق");
                return false; // Prevent form submission
            }

            return true; // Allow form submission
        }
    </script>
    <!-- END PAGE LEVEL SCRIPTS -->
}
